body{
    /* https://uigradients.com */

background: #735D78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFAF7B, #D76D77, #735D78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFAF7B, #D76D77, #735D78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;

}

main{
    background-color:#735D78;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 500px;
    margin: 30px auto;
    font-family: cursive; 
    padding:30px; 
    border-radius: 8px;

}

button{
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    background-color: #e7b9c3;
    font-family: cursive;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: #dfa8b5;
}

.ideaText{
    color: aliceblue;
    text-shadow: 5px 5px 2px #735D78;
    text-align: center;
    font-family: "Paprika", system-ui;
    font-weight: 200;
    font-style: normal;
  
}