body{
    background-color:#735D78;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 500px;
    margin: 30px auto;
    font-family: cursive;  

}

button{
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    background-color: #e7b9c3;
    font-family: cursive;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: #dfa8b5;
}

.ideaText{
    color: aliceblue;
    text-shadow: 5px 5px 5px #735D78;
    font-family: "Chewy", system-ui;
    font-weight: 200;
    font-style: normal;
  
}