body{
    background-color: lightskyblue;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 500px;
    margin: 10px auto;
}

button{
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: bisque;
    
}